<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.royalenfield">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logomain"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".misc.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".BikeList.BikeViewActivity"
            android:label="@string/page_bike"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".History.HistoryActivity"
            android:label="@string/history"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".fragments.PersonalDetailsFragment"
            android:label="@string/PersonalDetails"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".fragments.PlanTripDetails"
            android:label="@string/plan"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".fragments.ViewTripDetails"
            android:label="@string/view"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>